# Nuxt dev/build outputs
.output
.data
.nuxt
.nitro
.cache
dist

# Node dependencies
node_modules

# Logs
logs
*.log

# Misc
.DS_Store
.fleet
.idea

# Local env files
/Users/amakki/Documents/Coding-Design/GitHub/good-first-issue-from-DeepSourceCorp/LICENSE/workspace.env
.env
.env.*
!.env.example

__pycache__

# Generated data files
data/generated.json
data/tags.json
content/language/*.md
